@import "tailwindcss";

:root {
  --background: #eeeeee;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

button, a {
  cursor: pointer;
}

body {
  background: linear-gradient(180deg, #eeeeee 0%, #dadada 100%);
  background-attachment: fixed;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

@media print {
  @page {
    margin: 20mm;
  }
  body {
    background: white !important;
    color: black !important;
  }
}
